.location-header {
    background: #3E3E3E;
    mix-blend-mode: overlay;
    border-radius: 10px;
    margin: 10px;
    height: fit-content;

    color: white;
}


.temp {
    mix-blend-mode: normal;
    color: #000000;
}

.name {
    mix-blend-mode: normal;
}

.coordinates {
    mix-blend-mode: normal;
}
